# Default .editorconfig file

[*]
end_of_line = lf
charset = utf-8

# Tab indentation
indent_style = space
indent_size = 2

# Make sure every file has a blank line at the end
insert_final_newline = true

# Remove any whitespace characters preceding newline characters
trim_trailing_whitespace = true
